.text-container
{
	margin-bottom: 85px;
}

.lox-pt-p
{
	color: #ccc;
}

.text-container h1
{
	color: white;
}

.text-container h2, .text-container h3
{
	color: rgba(255,255,255,0.9);
}